<div class="container mt-5">
    <form method="post" action="/api/v1/users/changepassword" >
        <input hidden name="userId"  id="userId" value="{{userId}}" >            
        <div class="form-group">
            <label for="password">Password</label>
            <input name="newPassword" type="password" class="form-control" id="Password1" placeholder="Enter your password">
            <p id="passwordalert" class="text-danger "></p>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input name="confirmPassword" type="password" class="form-control" id="Password2" placeholder="Confirm your password">
            <p id="cpasswordalert" class="text-danger "></p>
        </div>
        <button onclick="return validate()" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
  
  const passwordAlert = document.getElementById("passwordalert");
  const cpasswordAlert = document.getElementById("cpasswordalert");
  const password = document.getElementById("Password1"); 
  const confirmPassword = document.getElementById("Password2");
  

  //validating the form 
  function validate(){
    console.log("This is validate")   
    const password = document.getElementById("Password1").value;
    const confirmPassword = document.getElementById("Password2").value;
    
    passwordAlert.innerText="";
    cpasswordAlert.innerText="";

    
    if(password.trim() === ""){
        passwordAlert.innerText = "Password can't be empty";
        return false;
    }else if(confirmPassword.trim() === ""){
        confirmPasswordAlert.innerText = "Confirm Password can't be empty";
        return false;
    }
    
    const strongPasswordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    if(!password.match(strongPasswordRegex)){
        passwordAlert.innerText = "Phone number is not valid."
        return false
    }
    return true
  }
  
  //checking password matches strong password
  password.addEventListener("input", ()=>{

    let value = document.getElementById("Password1").value;    

    const strongPasswordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

    if(strongPasswordRegex.test(value)){
      passwordAlert.classList.replace("text-danger","text-success");
      passwordAlert.innerText = "Password is strong"
      return
    }
    passwordAlert.classList.replace("text-success","text-danger");
    passwordAlert.innerText = "Password should contain 8 characters with numbers and symbols.";
  });

  //checking whether confirm password matched password
  confirmPassword.addEventListener("input", ()=>{

    console.log("This  is keydiwn listener for cpass")

    let value = document.getElementById("Password1").value;
    let cvalue = document.getElementById("Password2").value;

    console.log("pass :", value, "cpass :", cvalue)

    if(value === cvalue){
      cpasswordAlert.classList.replace("text-danger","text-success");
      cpasswordAlert.innerText = "Password is matching"
      return
    }
    cpasswordAlert.classList.replace("text-success","text-danger");
    cpasswordAlert.innerText = "Password doesn't match";
  });
</script>
