<div class="row row-cols-1 row-cols-md-3 g-4">
    {{!-- {{#each data}} --}}
        <div class="col">
            <div id="img-container" class="card">
                <img src="/img/product/details/product-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.product.[0].name}}</h5>
                    <p class="card-text">Color: {{this.color.[0].color}} Only for: {{this.price}}</p>
                </div>
            </div>
        </div>        
    {{!-- {{/each}} --}}
</div>

<script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>


<script>

var options1 = {
    width: 400,
    zoomWidth: 500,
    offset: {vertical: 0, horizontal: 10}
};

// If the width and height of the image are not known or to adjust the image to the container of it
var options2 = {
    fillContainer: true,
    offset: {vertical: 0, horizontal: 10}
};

new ImageZoom(document.getElementById("img-container"), options2);

</script>