<link rel='stylesheet' href='/stylesheets/userlogin.css' />

<section class="pt-5 ">
  <div class="container d-flex justify-content-center ">
    <div class="w-50 ">
      <div class="d-flex justify-content-center ">
        <h3>Login</h3>
      </div>
      {{#if message}}
      <p class="text-danger text-center">{{message}}</p>
      {{/if}}
      <form onsubmit="return validate()" action="/api/v1/signup" method="post">        
        <div class="mb-3">
          <label for="Value" class="form-label mt-2 ">Email address or Phone number</label>
          <input type="text" class="form-control" id="Value" aria-describedby="emailHelp" name="value" required>
          <p id="valueAlert" class="text-danger "></p>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.            
          </div>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password" name="password" required>
          <p id="passwordAlert" class="text-danger "></p>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Forgot your password?</a>
        
        <button type="submit" class="btn w-100 submit_button hover-shadow mb-3 mt-3  ">Submit</button>
        <div class="mb-3 d-flex justify-content-center ">
          <a href="register">Join our family. Create a account</a>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="/api/v1/users/forgotpassword" method="post">
            <div class="modal-body">
                <h5 class="text-dark">Forgot Password? Enter your credentials</h5>
                <div class="mb-3">
                    <label for="emailInput" class="form-label text-dark"></label>
                    <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter the email ID" required>
                    <p id="modalEmailAlert" class="text-danger"></p>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                
                <button onclick="return validationEmail()" id="emailSubmitButton" type="submit" class="btn btn-primary" >Continue</button>
            </div>
          </form>
        </div>
    </div>
</div>
</section>

<script> 
  const valueAlert = document.getElementById("valueAlert");
  const passwordAlert = document.getElementById("passwordAlert");

  function validate(){
    console.log("This is validate")    
    const value = document.getElementById("Value").value;
    const password = document.getElementById("Password").value;
    
    valueAlert.innerText="";
    passwordAlert.innerText="";

    if(value.trim() === ""){
        valueAlert.innerText = "Email or phone number can't be empty";
        return false;
    }else if(password.trim() === ""){
        passwordAlert.innerText = "Password can't be empty";
        return false;
    }

    const phoneRegex = /^\d{10}$/
    let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

    if(value.match(phoneRegex) || value.match(emailRegex)){
      console.log("Value is matching");
      return true;
    }

    valueAlert.innerText = "Invalid email or phonenumber";
    return false    
  }

  const emailInput = document.getElementById("emailInput");
  const modalEmailAlert = document.getElementById("modalEmailAlert");

  emailInput.addEventListener("input", ()=>{
      
      const email = document.getElementById("emailInput").value;
      let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

      if(!email.trim()===""){
        modalEmailAlert.innerText = "Email field can't be empty";        
        return
      }

      if(!email.match(emailRegex)){
        modalEmailAlert.innerText = "Email is not valid";        
        return
      }
      modalEmailAlert.innerText = "";
      
  });

  async function validationEmail(){
    const email = document.getElementById("emailInput").value;
    const result = await fetch("/api/v1/checkemail",{
      method: "POST",
      headers:{
        "content-type" : "application/json"
      },
      body : JSON.stringify({
        email
      })
      .then((res)=>res.json)
      .then((data)=>{
        if(data.success){
          modalEmailAlert.innerText = "Email is not registered"; 
          return false  
        }
        return true
      })
    });
    console.log("this is result ", result)

  }


</script>