<link rel='stylesheet' href='/stylesheets/userlogin.css' />

<section class="pt-5 ">
  <div class="container d-flex justify-content-center ">
    <div class="w-50 ">
      <div class="d-flex justify-content-center ">
        <h3>Login</h3>
      </div>

      <form onsubmit="return validate()" action="users/home" method="post">        
        <div class="mb-3">
          <label for="Value" class="form-label">Email address or Phone number</label>
          <input type="text" class="form-control" id="Value" aria-describedby="emailHelp" name="value" required>
          <p id="valueAlert" class="text-danger "></p>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.            
          </div>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password" name="password" required>
          <p id="passwordAlert" class="text-danger "></p>
        </div>
        
        {{!-- <div class="mb-3">
          <a href="#">Forgot your password?</a>
        </div> --}}
        {{!-- <div id="emailHelp" class="form-text mb-3 ">Forgot your password?  <a href="#">Click me</a>           
        </div> --}}

        <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Forgot your password?</a>
                
        <!-- Button trigger modal -->

  
        <!-- Modal one-->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="text-dark "> Forgot Password? Enter your credentials</h5>
                        <div class="mb-3">
                            <label for="emailInput" class="form-label text-dark"></label>
                            <input type="email" class="form-control" id="emailInput" placeholder="Enter the email ID">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><button type="button" class="btn btn-primary " data-bs-target="#staticBackdrop2">Continue</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <h5 class="text-dark "> Enter OTP</h5>
                <div class="mb-3 row">
                  <div class="col-sm-12">
                    <div class="d-flex flex-wrap justify-content-center ">
                        <input type="number" class="form-control mb-2 mx-2" id="otpInput1" maxlength="1" style="width: 4em; height: 4em;">
                        <input type="number" class="form-control mb-2 mx-2" id="otpInput2" maxlength="1" style="width: 4em; height: 4em;">
                        <input type="number" class="form-control mb-2 mx-2" id="otpInput3" maxlength="1" style="width: 4em; height: 4em;">
                        <input type="number" class="form-control mb-2 mx-2" id="otpInput4" maxlength="1" style="width: 4em; height: 4em;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="/verifyotp" data-bs-toggle="modal" data-bs-target="#staticBackdrop3"><button type="button" class="btn btn-primary " data-bs-target="#staticBackdrop2">Continue</button></a>
              </div>
           
            </div>
          </div>
        </div>
        <button type="submit" class="btn w-100 submit_button hover-shadow mb-3 mt-3  ">Submit</button>
        <div class="mb-3 d-flex justify-content-center ">
          <a href="register">Join our family. Create a account</a>
        </div>
      </form>
    </div>
  </div>
</section>

<script>
  const valueAlert = document.getElementById("valueAlert");
  const passwordAlert = document.getElementById("passwordAlert");

  function validate(){
    console.log("This is validate")
    
    const value = document.getElementById("Value").value;
    const password = document.getElementById("Password").value;
    
    valueAlert.innerText="";
    passwordAlert.innerText="";

    if(value.trim() === ""){
        valueAlert.innerText = "Email or phone number can't be empty";
        return false;
    }else if(password.trim() === ""){
        passwordAlert.innerText = "Password can't be empty";
        return false;
    }


    const phoneRegex = /^\d{10}$/
    let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

    if(value.match(phoneRegex) || value.match(emailRegex)){
      console.log("Value is matching");
      return true;
    }

    valueAlert.innerText = "Invalid email or phonenumber";
    return false    
  }
</script>