<head>
  <style>
    a{
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<nav class="navbar navbar-expand-lg "> 
  <div class=" container-fluid">
    <a class="navbar-brand ms-5 " href="#">
      <img src="/images/logo1.PNG" alt="Logo" height="60" class="d-inline-block align-text-top">
          
    </a>
    
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/api/v1/users/home">Home</a>
        <a class="nav-link" href="/api/v1/products/listproducts">Shop</a>
        <a class="nav-link" href="/api/v1/products/Mens">Mens</a>
        <a class="nav-link" href="/api/v1/products/Womens">Womens</a>
        <a class="nav-link" href="/api/v1/products/Kids">Kids</a> 
        <a class="nav-link" href="#">Contact</a>         
      </div>
    </div>
    <div class="navbar-nav me-4">
      <a class="nav-link " href="/api/v1/users/logout">logout</a>  
      {{!-- change to {{user.fullname}} to direct to profile details etc now its logout --}}
    </div>
    <ul class="header__right__widget d-flex ms-3 ">
      <li><span class="icon_search search-switch  "></span></li>
      <li><a href="#"><span class="icon_heart_alt  "></span>
        <div class="tip">2</div>
      </a></li>
      <li><a href="/api/v1/users/cart"><span class="icon_bag_alt "></span>
        <div class="tip">2</div>
      </a></li>
    </ul>
  </div>
</nav>