<main class="main-wrap">            
    <section class="content-main">
        <div class="row">
            <div class="col-12">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>                        
                        <a href="#" id="addProductVarient" hidden><button class="btn btn-md rounded font-sm hover-up" >Add Product-Varient</button></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        {{!-- <form> --}}
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="productName" name="product_name"/>
                                <p id="alertProductName" class="text-danger"></p>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea id="about" placeholder="Type here" class="form-control" rows="4"></textarea name="description">
                                <p id="alertDescription" class="text-danger"></p>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select id="category" class="form-select ">
                                        {{#each category}}
                                        <option>{{this.category}}</option>
                                        {{/each}}                                                
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Listed</label>
                                    <select id="islisted" class="form-select">
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex  justify-content-center">
                                <button type="button" id="productButton" class="btn btn-md rounded font-sm hover-up">Add product</button>
                            </div>
                            <h3 id="alert" class="text-success text-center mt-2"></h3>
                        {{!-- </form> --}}
                    </div>
                </div>
                <!-- card end// -->
            </div>                    
        </div>
    </section>            
</main>

<script>
    
    const alert = document.getElementById("alert");
    const target = document.getElementById("target");
    const productButton = document.getElementById("productButton");
    const alertProductName = document.getElementById("alertProductName");
    const alertDescription = document.getElementById("alertDescription");
    

    function addProduct() {        
        console.log("add product  fucntion")
        const productName= document.getElementById("productName").value;
        const about= document.getElementById("about").value;
        const category= document.getElementById("category").value;
        const islisted = document.getElementById("islisted").value;        
        alertProductName.innerText = "";
        alertDescription.innerText = "";

        if(productName.trim()==""){
            console.log("entered empty name")
            alertProductName.innerText = "Product title can't be empty."
            return
        }
        if(about.trim()==""){
            alertDescription.innerText = "Product description can't be empty."
            return
        }


        console.log("This is addproduct fetch");
          
        fetch("/api/v1/admin/addproduct",{
            method: "post",
            headers: {
                "content-type" : "application/json"
            },
            body: JSON.stringify({
                name: productName,
                about,
                category,
                islisted
            })
        }).then((res)=>{
            console.log("fetch is succesfull", res);
            if(!res.ok){
                alert.innerText = "Product is not added. Please try again";
            }
            return res.json();
        }).then((data)=>{
            console.log("data", data);
            productButton.disabled = true;
            const addProductVarientButton = document.getElementById("addProductVarient");
            addProductVarientButton.hidden = false;             
            addProductVarientButton.href = `products-varient/${data.data.name}`;
            alert.innerText = "Product is added, now add the varients.";
            target.scrollIntoView({ behavior:"smooth"});
        })
    }

    productButton.addEventListener("click",addProduct);


    //Code to repeat the form
    const mainSection = document.getElementById("mainSection");
    document.getElementById("addForm").addEventListener("click", repeatForm);
    // Function to repeat the form
    function repeatForm() {
        console.log("entered repeatform funviton")
        const originalForm = document.getElementById("productVarientForm");
        
        const clonedForm = originalForm.cloneNode(true);
        
        const newFormId = `productVarientForm_${Date.now()}`;
        clonedForm.id = newFormId;
        
        //clonedForm.reset();
        
        mainSection.appendChild(clonedForm);
    }
    

    
</script>