                            {{#each allProducts}}
                            <div class="col">
                                <div class="card card-product-grid">
                                    <a href="#" class="img-wrap"> <img src="{{this.images.[0]}}" alt="Product" /> </a>
                                    <div class="info-wrap">
                                        <a href="#" class="title text-truncate">{{this.name.name}}</a>
                                        <div class="price mb-2">{{this.price}}</div>
                                        <!-- price.// -->
                                        <a href="#" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a>
                                        <a href="#" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> Delete </a>
                                    </div>
                                </div>
                                <!-- card-product  end// -->
                            </div>
                            {{/each}}